.Rproj.user
.Rhistory
.RData
.Ruserdata

_freeze/
cambridge_files/
index_files/
web/_web/
web/_web/site_libs/
web/_web/site_libs/bootstrap/

*.csv
*.dat
*.html
*.js
*.mhtml
*.rds
*.txt
*.zip





slides/.quarto/xref/
