.Rproj.user
.Rhistory
.RData
.Ruserdata

.quarto/
/.quarto/

_freeze/
cambridge_files/
*_files/
index_files/
web/_web/
web/_web/site_libs/
web/_web/site_libs/bootstrap/

_slides/
site_libs/



*.csv
*.dat
*.html
*.js
*.mhtml
*.pdf
*.rds
*.txt
*.xls*
*.zip





slides/.quarto/xref/
